__pycache__
.gitignore.txt
extracted_patches/
alphafold_outputs/
masif_site_outputs/
predfeatures/
1fcc/
data/
extr_env/


old.ipynb
toygraph.npy
coordinate_aligner.py


*test*
*model*

1fcc.pdb
AAAA-unrelaxed-rank-1-model-5_A_predcoords.npy
AAAA-unrelaxed-rank-1-model-5_A.pdb
